[run]
source =
    src/elpis_nautilus
    src/elpis_nautilus/data_downloaders
    src/elpis_nautilus/crud
    src/elpis_nautilus/utils

[report]
# show missing lines, exclude tests
show_missing = True
omit = 
    src/tests/*
    */__init__.py
