accessible-pygments==0.0.5
alabaster==0.7.16
annotated-types==0.7.0
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
astroid==3.3.10
backtrader @ git+https://github.com/Polymerase3/backtrader.git@e02b31c478f4ffbc3f4b8de33f48585af98acdf2
build==1.2.2.post1
CacheControl==0.14.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1749972191589/work/certifi
cleo==2.1.0
click==8.2.1
contourpy==1.3.2
coverage==7.9.2
crashtest==0.4.1
cryptography==45.0.4
cycler==0.12.1
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.4.0
distlib==0.3.9
docker==7.1.0
docutils==0.21.2
dulwich==0.22.8
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
filelock==3.18.0
findpython==0.6.3
flake8==7.3.0
fonttools==4.58.4
fsspec==2025.5.1
greenlet==3.2.2
imagesize==1.4.1
importlib_metadata==8.7.0
iniconfig==2.1.0
installer==0.7.0
isort==6.0.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jeepney==0.9.0
jupyter-book==1.0.4.post1
jupyter-cache==1.0.1
keyring==25.6.0
kiwisolver==1.4.8
latexcodec==3.0.0
linkify-it-py==2.0.3
markdown-it-py==3.0.0
matplotlib==3.10.3
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.7.0
mplcyberpunk==0.7.6
msgpack==1.1.1
msgspec==0.19.0
myst-nb==1.2.0
myst-parser==3.0.1
nautilus-ibapi==10.30.1
nautilus_trader==1.218.0
numpy==2.3.1
pandas==2.3.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
pbs-installer==2025.6.12
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow==11.2.1
pkginfo==1.12.1.2
pluggy==1.6.0
poetry==2.1.3
poetry-core==2.1.3
psycopg2==2.9.10
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==20.0.0
pybtex==0.24.0
pybtex-docutils==1.0.3
pycodestyle==2.14.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.11.7
pydantic-settings==2.10.0
pydantic_core==2.33.2
pydata-sphinx-theme==0.15.4
pyflakes==3.4.0
pylint==3.3.7
pyparsing==3.2.3
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
PyQt6==6.7.1
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
pytest==8.4.1
pytest-cov==6.2.1
python-dotenv==1.1.0
pytz==2025.2
qbstyles==0.1.4
RapidFuzz==3.13.0
requests-toolbelt==1.0.0
saxo_openapi @ git+https://github.com/Polymerase3/saxo_openapi.git@6d3d8d6b4c1f135ef47dcc9bb3b636607f9f7336
SecretStorage==3.3.3
setuptools==78.1.1
shellingham==1.5.4
shiboken6==6.9.1
snowballstemmer==3.0.1
Sphinx==7.4.7
sphinx-book-theme==1.1.4
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==1.0.0
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.3.1
sphinx-togglebutton==0.3.2
sphinx_design==0.6.1
sphinx_external_toc==1.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.41
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
tabulate==0.9.0
tomlkit==0.13.3
tqdm==4.67.1
trove-classifiers==2025.5.9.12
typing-inspection==0.4.1
tzdata==2025.2
uc-micro-py==1.0.3
uvloop==0.21.0
virtualenv==20.31.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wheel==0.45.1
zipp==3.22.0
zstandard==0.23.0
